@font-face {
	font-family: "Noto Sans KR";
	src: url(../fonts/NotoSansKR-Light.otf);
}

body {
	margin: 0;
	font-family: "Noto Sans KR", "Nanum Square", "Malgun Gothic", "Times New Roman";
}

#main {
	max-width: 950px;
	margin: 0 auto;
	padding: 45px;
}
#main a {
	text-decoration: none;
	color: black;
}

#current {
	width: 12px;
	height: 12px;
}

#subtitle {
	margin-bottom: 0px;
}

#table {
	width: 950px;
	margin: 0 auto;
	padding: 45px;
}
#table a {
	text-decoration: none;
	color: black;
}
#table table {
	border-spacing: 0px;
	width: 100%;
	margin-top: 12px;
	border-top: 1px solid #8e0214;
}
#table table a {
	text-decoration: none;
}
#table table tr th {
	padding: 5px 0px 5px 0px;
	border-left: 1px solid #e1e1e1;
	border-bottom: 1px solid #b9b9b9;
	background: #f3f2f2;
}
#table table tr th:first-child {
	border-left: 0px;
}
#table table tr td {
	padding: 5px 0px 5px 0px;
	line-height: 15px;
	text-align: center;
	border-bottom: 1px solid #e1e1e1;
	border-left: 1px solid #f2f2f2;
}
#table table tr td:first-child {
	border-left: 0px;
}

@media (max-width: 800px) {
	#main {
		padding: 20px;
	}
	#table {
		padding: 20px;
	}
}

text {
	font-family: "Noto Sans KR", "Nanum Square", "Malgun Gothic", "Times New Roman";
}
